body {
  background: black;
  color: white;
  font-family: Arial;
  text-align: center;
  padding-top: 100px;
  margin: 0;
}

#starry-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
}

button {
  padding: 10px 20px;
  font-size: 18px;
}
